PORT=4000
DATABASE_URL=postgresql://album_admin:TU_PASSWORD@album-fotos-xv.xxxxx.us-east-1.rds.amazonaws.com:5432/album_fotos_qr
DB_SSL=true

AWS_REGION=us-east-1
AWS_S3_BUCKET=album-fotos-xv-prod
AWS_ACCESS_KEY_ID=TU_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=TU_SECRET_ACCESS_KEY
# Opcional CloudFront:
# AWS_S3_PUBLIC_URL=https://d123456.cloudfront.net

JWT_SECRET=genera_un_secreto_largo_y_aleatorio_minimo_32_caracteres
ADMIN_USER=admin
ADMIN_PASSWORD=password_segura_del_evento

FRONTEND_URL=https://tu-dominio.com

MAX_FOTOS_POR_MESA=10
MAX_FILE_SIZE_MB=100
